body {background-color: rgb(31,31,31);}

/* index.html */
.spacer{
  height: 250px;
}
.xbox-alignment{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.xbox {
  width: 55%;
  height: 50%;
}

.description > a {
  color: rgb(155, 240, 11);
  text-shadow: 0 0 2px #9cf00b;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 8px;
  text-decoration: none;
}

.link > a{
  text-decoration: none;
}

.link > a p{
  color: rgb(245, 245, 245);
  transition: 0.4s;
}

.link:hover > a p{
  color: rgb(155, 240, 11);
  transition: 0.4s;
}

.description h1{ 
  display:block;
  opacity: 0;
  text-align: center;
  transition: 0.4s;
}

.description:hover h1{ 
  display: block;
  opacity: 1;
  transition: 0.4s;
}

.description h2{ 
  font-size: 20px;
  color: rgb(245, 245, 245);
  display:block;
  opacity: 0;
  text-align: center;
  transition: 0.4s;
}

.description:hover h2{
  color: rgb(245, 245, 245);
  font-size: 20px;
  display: block; 
  opacity: 1;
  transition: 0.4s;
}

/* overview.html */
.xbox-console{
  width: 70%;

  height: auto;
}

.flex-container{
  display: flex;
  background-color: rgb(31,31,31);
}

.header-flex{
  display: flex;
  background-color: rgb(31,31,31);
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.header-flex > div p{
  background-color: rgba(0,0,0,0);

  margin: 20px;
  padding-top:50px;
  text-align: center;
  line-height: 30px;
  color: rgb(245,245,245);
  /*text-shadow: 0 0 3px #9cf00b;*/
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.header-flex > div img{
  width: 300px;
  height: auto;
}

.detail-flex{
  display: flex;
  background-image: url("background-detail.png");
  background-repeat: no-repeat;
  background-size: calc(max(100%, 1422px));
  height: 800px;
  justify-content: center;
  flex-wrap:wrap;
  
  

}

.detail-flex > div{
  background-color: rgba(0,0,0,0.2);
  width: 300px;
  padding-bottom:30px;
  padding-top: 30px;
  margin: 30px; 
  text-align: center;
  line-height: 5px;
  color: rgb(245,245,245);
  /*text-shadow: 0 0 3px #9cf00b;*/
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 30px;
  
}

#bigtext{
  /*style="font-size:70px;line-height:70px;width:1260px;padding-top:30px;padding-bottom:30px;"*/
  font-size:70px;
  line-height:70px;
  width:1260px;
  padding-top:30px;
  padding-bottom:30px;
}

/* specs.html */
.specs-flex{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

}

.specs-flex > div{
  background-color: rgb(22,22,22);
  padding-bottom:30px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 10px; 
  text-align: center;

  /*text-shadow: 0 0 3px #9cf00b;*/
  
}

.xbox-specs{
  max-width: 800px;
  width: 100%;
  height: auto;
}

.xbox-video{
  max-width: 800px;
  width: 100%;
  height: auto;
}

.specs-header{
  color: rgb(155, 240, 11);
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: left;
  margin-left: 20px;
}

.specs-text{
  color: rgb(245,245,245);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: left;
  margin-left: 20px;
}

.specs-first-header{
  color: rgb(155, 240, 11);
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
}

.break{
  flex-basis: 100%;

}

/* form.html */
.console-header{
  color: rgb(245, 245, 245);
  /*text-shadow: 0 0 3px #9cf00b;*/
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 10px;
}

.console-subtext {
  color: rgb(155, 240, 11);

  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 12px;

  line-height: 1px;
  padding-top: 100px;
}

.form-layout{
  display: block;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: rgb(20, 20, 20);
  color: white;
  width: 75%;
  padding-bottom: 20px;
  padding-left: 40px;
}

shipping{
    size: 50;
  }

/* media query */
@media screen and (max-width: 480px) {

  .header-flex > div p{
    margin: 10px;
    padding-top:10px;
    font-size: 20px;
  }

  .header-flex > div img{
    width: 400px;
    height: auto;
  }

  .flex-container{
    display: flex;
    background-color: rgb(31,31,31);
    flex-direction:column;  
  }

  .xbox-console{
    width: 100%;
  } 

  .console-header{
    font-weight: 900;
    font-size: 60px;
    text-align:center;
  }

  .console-subtext {
    font-size: 12px;
    line-height: 1px;
    padding-top: 10px;
    }

  .detail-flex{
    background-size: cover;
    background-position: -1200px;
    height: auto;
  }

  .specs-header{
    font-size: 25px;
}

  .specs-text{
    font-size: 15px;
  }

  .specs-first-header{
    font-size: 50px;
  }


  .console-header{
    color: rgb(245, 245, 245);
    /*text-shadow: 0 0 3px #9cf00b;*/
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 50px;
    line-height: 10px;
  }

  .console-subtext {
    padding-top: 20px;
  }

  shipping{
    size: 20;
  }

}